.servicesBar-Component {
  text-align: center;
  width: 96%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  margin-right: 0 !important;
  margin-left: 0 !important;
  border-radius: 15px;
  gap: 0.9rem;
  padding: 1.2rem 0rem;
  margin-top: 1rem !important;
  color: #fff;
  margin-bottom: 0;
}
.servicesBar-Component .service-item {
  position: relative;
  cursor: pointer;
  padding: 0rem;
  text-align: center;
  padding: 0.5rem 0rem;
}

.servicesBar-Component .service-item h2 {
  width: 100%;
  font-family: "Inter", sans-serif;
  margin-bottom: 0;
}
.servicesBar-Component .service-item:hover {
  color: #fff;
  transition: 0.3s;
}
.servicesBar-Component .service-item .spliter {
  position: absolute;
  right: 0;
  top: 50%;
  height: 70%;
  transform: translateY(-50%);
}

.trading,
.automation,
.portolio,
.training {
  color: #4848484d;
  position: relative;
}
.trading::before,
.automation::before,
.portolio::before {
  content: "Comming Soon";
  font-size: 12px;
  /* width: 0%; */
  color: #887eff;
  background-color: #554db7;
  border-radius: 10px;
  padding: 1px 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}
.heading-select {
  display: none !important;
}
.MuiInputBase-root {
  height: 40px !important;
}
@media (width<1175px) {
  .trading::before,
  .automation::before,
  .portolio::before {
    font-size: 50%;
    width: 60%;
  }
}
@media (width<768px) {
  .servicesBar-Component {
    display: none !important;
  }
  .heading-select {
    display: flex !important;
    margin: 1rem 0rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (766px < width < 800px) {
  .servicesBar-Component .service-item h2 {
    font-size: 1.5rem !important;
  }
  .servicesBar-Component {
    gap: 0.5rem;
  }
}
@media (400px < width < 768px) {
  .trading,
  .automation,
  .portolio,
  .alerts {
    width: 50% !important;
  }
  .servicesBar-Component {
    gap: 0rem;
  }
  .spliter {
    display: none;
  }
  .servicesBar-Component .service-item {
    margin-bottom: 10px;
  }
}
